.transfer-screen{
    top: 0;
    left: 0;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 5000;
    background-color: rgba($color: #000000, $alpha: .7) ;
    transition: all .3s;
}
.transfer-window{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    padding : 20px ; 
    border-radius: 5px;
    display: inline-block;
    background-color: $primary-color;
    width: 400px;
}