$primary-color : #2B2F55; 
$primary-color-dark : #202342; 
$primary-color-lighten : #323662;

$secondry-color : #01A9F4 ;

$success-color : #63F4F7 ;
$failure-color : #FE7448;

$white-color : #ffff;
$gray-color : #959595; 
