.filter-by{
    background-color: $primary-color;
    border-radius: 8px;
    width: 25%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    &__statment{
        font-size: 1.8rem;
        margin-bottom: 22px;
        margin-left: 18px;
        align-self: flex-start;
    } 
    &__options{
        display: flex;
        flex-flow: row nowrap;
        margin: 0 auto;
        &__btn{
            border-radius: 5px;
            cursor: pointer;
            display: inline-block;
            font-size: 1.8rem ;
            background-color: $primary-color-lighten;
            width: 45px;
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
            &:not(:last-child){
                margin-right: 20px;
            }
            &--active{
                background-color: $secondry-color;
            }
        }
    }
    
}