.main-table{
    &__container{
        height: 580px;
        overflow-y: scroll;
        margin-top: 20px;
        &::-webkit-scrollbar{
            width: 15px;
            background-color: #292d52;
        }
        &::-webkit-scrollbar-thumb {
            width: 10px;
            background: #3d4379; 
            border-radius: 10px;
        }          
    }
    border-collapse: collapse;
    &__main-row{
        border-radius: 8px;
        background-color: $primary-color;
        &__cell{         
            padding: 20px 10px;
        }
    }
    &__row{
        &__cell{         
            border-bottom: 1px solid $gray-color ;
            padding: 20px 10px;
            font-weight: 300;
            &__stat{
                &--SUCCESS{             
                    padding: 5px;
                    background-color: #306f70;
                    color: $success-color;
                }
                &--FAIL{
                    padding: 5px;
                    background-color: #7f3d28;
                    color: $failure-color;
                }
            }
        }
    }
}
.display-flex{
    display: flex;
    align-items: center;
}
